.document{
  align-items: center;
  display: flex;

  margin: 5px 6px 5px 3px;
  width: inherit;
  height: 30px;

  .documentNumber{
    margin-left: 10px;
  }

  .documentTitle{
    margin-left: 50px;
  }
}